.profile-flex{
    display: flex;
    width: 90%;
    max-width: 900px;
    margin-inline: auto;
    align-items: center;
    flex-direction: column;
}

.profile-img{
    align-self: flex-start;
    margin: 1rem;
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 50%;

}

@media screen and (min-width: 600px){
    .profile-flex{
        flex-direction: row;
    }
}